@media (max-width: 1024px) and (min-width: 993px){
	.top-header .col-md-2{ width: 18%; float: left; }
	.top-header .col-md-9{ width: 70%; float: left; }
	.top-header .col-md-1{ width: 12%; float: left; }
	.top-header{ height: auto;}
	.title-head{ width: 100%; text-align: center; }
	.title-head h4{ font-size: 18px; }
	.title-head h2{ font-size: 20px; }
	#slideshow{ width: 100% !important; }
	.navigation{ width: 100%; }
	.navigation ul li a{ padding: 10px 18px; }
	.price-list ul li a{ padding: 0px; font-size: 14px; }
}

@media (max-width: 992px) and (min-width: 768px){
	.top-header .col-md-2{ width: 18%; float: left; }
	.top-header .col-md-9{ width: 70%; float: left; }
	.top-header .col-md-1{ width: 12%; float: left; }
	.top-header{ height: auto; }
	.title-head{ width: 100%; text-align: center; }
	.title-head h4{ font-size: 18px; }
	.title-head h2{ font-size: 20px; }
	#slideshow{ width: 100% !important; }
	.navigation{ width: 100%; }
	.navigation ul li a{ padding: 10px 18px; font-size: 13px; }
	.price-list ul li a{ padding: 0px;}
	.prices-header img{ margin: 11px 15px 9px 0px; }
	.left-col{ min-height: 1px; padding-bottom: 15px; }
	.left{ min-height: 100px; }
	.mid-col{ margin-left: -15px; margin-right: -15px; margin-top: 15px; }
	.video-gallery .col-md-4{ width: 50%; float: left; }
	.video-gallery .col-md-4 a{ margin-left: 40%; }
	.gallery .col-md-3{ width: 50%; float: left; }

}
@media (max-width: 767px) and (min-width: 486px){
	.top-header{ height: auto; background-image: none; background: #016ca6; }
	.top-header .headimg{ text-align: center; }
	.headimg img{ width: 40%; }
	.top-header .right-img{ display: none; }
	.title-head{ width: 100%; text-align: center; }
	.title-head h4{ font-size: 18px; }
	.title-head h2{ font-size: 20px; }
	#slideshow{ width: 100% !important; }
	.navigation{ width: 100%; }
	.navigation ul{ position: relative; background: #016ca6;  }
	.navigation ul li{ width: 100%; }
	.price-list ul li a{ padding-left: 0px; }
	.pricing-grid{ width: 100%; }
	.prices-header img{ margin: 11px 15px 9px 0px; }
	.left-col{ min-height: 1px; padding-bottom: 15px; }
	.left{ min-height: 100px; }
	.mid-col{ margin-left: -15px; margin-right: -15px; margin-top: 15px; }
	.video-gallery .col-md-4{ width: 50%; float: left; }
	.video-gallery .col-md-4 a{ margin-left: 40%; }
	.gallery .col-md-3{ width: 50%; float: left; }
}
@media (max-width: 485px) and (min-width: 376px){
	.top-header{ height: auto; background-image: none; background: #016ca6; }
	.top-header .headimg{ text-align: center; }
	.headimg img{ width: 40%; }
	.top-header .right-img{ display: none; }
	.title-head{ width: 100%; text-align: center; }
	.title-head h4{ font-size: 18px; }
	.title-head h2{ font-size: 20px; }
	#slideshow{ width: 100% !important; }
	.navigation{ width: 100%; }
	.navigation ul{ position: relative; background: #016ca6;  }
	.navigation ul li{ width: 100%; }
	.price-list ul li a{ padding-left: 0px; }
	.pricing-grid{ width: 100%; }
	.prices-header img{ margin: 5px 15px 5px 0px;}
	.left-col{ min-height: 1px; padding-bottom: 15px; }
	.left{ min-height: 100px; }
	.mid-col{ margin-left: -15px; margin-right: -15px; margin-top: 15px; }
}

@media (max-width: 375px) and (min-width: 321px){
	.top-header{ height: auto; background-image: none; background: #016ca6; }
	.top-header .headimg{ text-align: center; }
	.headimg img{ width: 40%; }
	.top-header .right-img{ display: none; }
	.title-head{ width: 100%; text-align: center; }
	.title-head h4{ font-size: 15px; }
	.title-head h2{ font-size: 17px; }
	#slideshow{ width: 100% !important; }
	.navigation{ width: 100%; }
	.navigation ul{ position: relative; background: #016ca6;  }
	.navigation ul li{ width: 100%; }
	.price-list ul li a{ padding-left: 0px; }
	.pricing-grid{ width: 100%; }
	.prices-header img{ margin: 5px 15px 5px 0px;}
	.left-col{ min-height: 1px; padding-bottom: 15px; }
	.left{ min-height: 100px; }
	.mid-col{ margin-left: -15px; margin-right: -15px; margin-top: 15px; }
}
@media (max-width: 320px){
	.top-header{ height: auto; background-image: none; background: #016ca6; }
	.top-header .headimg{ text-align: center; }
	.headimg img{ width: 40%; }
	.top-header .right-img{ display: none; }
	.title-head{ width: 100%; text-align: center; }
	.title-head h4{ font-size: 12px; }
	.title-head h2{ font-size: 13px; }
	#slideshow{ width: 100% !important; }
	.navigation{ width: 100%; }
	.navigation ul{ position: relative; background: #016ca6;  }
	.navigation ul li{ width: 100%; }
	.price-list ul li a{ padding-left: 0px; }
	.left-col{ min-height: 1px; padding-bottom: 15px; }
	.left{ min-height: 100px; }
	.mid-col{ margin-left: -15px; margin-right: -15px; margin-top: 15px; }
}